~$The Lemon Taco spreadsheet edition.xlsx
.analytics/
asm/
logs/
reports/
saves/
dumps/
options.txt
BTFU.cfg
*.log
WTFOres_en_US.lang
usercache.json
SquidAPI/SquidAPI.log
splash.properties
mods/carpentersblocks/CarpentersBlocksCachedResources.zip
betterfps.txt
asmtweaks.conf
fastcraft.ini
