~$The Lemon Taco spreadsheet edition.xlsx
.analytics/
asm/
logs/
reports/
saves/
dumps/
SquidAPI/
mods/carpentersblocks/
mods/tabula/
resources/music/
resources/newmusic/
resources/newsound/
resources/pe/
resources/sound/
resources/sound3/
options.txt
knownkeys.txt
BTFU.cfg
*.log
WTFOres_en_US.lang
usercache.json
splash.properties
betterfps.txt
asmtweaks.conf
fastcraft.ini
localconfig.cfg
minetweaker.log
usernamecache.json
