~$The Lemon Taco spreadsheet edition.xlsx
.analytics/
asm/
logs/
reports/
crash-reports/
imcScripts/
mybukkitcommands/
reports/
resourcepacks/
saves/
server-resource-packs/
dumps/
SquidAPI/
StructureGen/
screenshots/
mods/carpentersblocks/
mods/tabula/
resources/music/
resources/newmusic/
resources/newsound/
resources/pe/
resources/sound/
resources/sound3/
config/Modifiers/
options.txt
knownkeys.txt
config/BTFU.cfg
config/splash.properties
config/fastcraft.ini
*.log
WTFOres_en_US.lang
usercache.json
betterfps.txt
asmtweaks.conf
knownkeys.txt
localconfig.cfg
minetweaker.log
usernamecache.json
config/bbm/ve/HeatMap.cfg
LemonTaco.zip
