# Configuration file

AOBDBB {
    B:"Do Bushes Prick"=true
}


Adamantine {
    S:"Bush Colour"=0xdb2b2b

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		37
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Alduorite {
    S:"Bush Colour"=0xadffff

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Ardite {
    S:"Bush Colour"=0xf48a00

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        -1
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


AstralSilver {
    S:"Bush Colour"=0xc2e5e8

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		37
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Atlarus {
    S:"Bush Colour"=0xffe004

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		66
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Carmot {
    S:"Bush Colour"=0xf7e583

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		66
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Ceruclase {
    S:"Bush Colour"=0x7dc0d8

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Cobalt {
    S:"Bush Colour"=0x2376dd

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        -1
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


DeepIron {
    S:"Bush Colour"=0x798fa2

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		37
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Endium {
    S:"Bush Colour"=0x382d52

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


Eximite {
    S:"Bush Colour"=0xa67bc6

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Ignatius {
    S:"Bush Colour"=0xff8d23

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Infuscolium {
    S:"Bush Colour"=0xaf2a6a

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		66
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Kalendrite {
    S:"Bush Colour"=0xc87fdb

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Lemurite {
    S:"Bush Colour"=0xe5e5e5

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Manganese {
    S:"Bush Colour"=0xffaaaa

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		0
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Meutoite {
    S:"Bush Colour"=0x786785

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Midasium {
    S:"Bush Colour"=0xffad3a

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Mithril {
    S:"Bush Colour"=0x9bf8ff

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		37
		1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Orichalcum {
    S:"Bush Colour"=0x8ac160

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		37
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Oureclase {
    S:"Bush Colour"=0xe5832d

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		66
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Platinum {
    S:"Bush Colour"=0xc2e6ed

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		0
		17
		37
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Prometheum {
    S:"Bush Colour"=0x6a9865

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		37
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Rubracium {
    S:"Bush Colour"=0xa53838

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		66
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Sanguinite {
    S:"Bush Colour"=0xff0f0f

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


ShadowIron {
    S:"Bush Colour"=0x7a6252

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Silver {
    S:"Bush Colour"=0xcccccc

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		0
		17
		37
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Tungsten {
    S:"Bush Colour"=0x4e4e4e

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		0
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Vulcanite {
    S:"Bush Colour"=0xff7738

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Vyroxeres {
    S:"Bush Colour"=0x73fc1e

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		-1
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Zinc {
    S:"Bush Colour"=0xfaffa3

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
		0
		17
		37
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


