# Configuration file

abilities {
    # Whether the Bookshelf Golem can give itself potion effects [default: true]
    B:"Allow Bookshelf Special"=true

    # Whether the Coal Golem can give temporary blindness effect [default: false]
    B:"Allow Coal Golem Special"=false

    # Whether the Endstone Golem can teleport [default: true]
    B:"Allow Endstone Golem Special"=true

    # Whether the Ice Golem can freeze water and cool lava nearby [default: true]
    B:"Allow Ice Golem Special"=true

    # Whether the Lapis Golem can give enemies potion effects [default: true]
    B:"Allow Lapis Golem Special"=true

    # Whether the Leaf Golem can give itself Regeneration I [default: true]
    B:"Allow Leaf Golem Special"=true

    # Whether the Melon Golem can occasionally plant flowers [default: true]
    B:"Allow Melon Golem Special"=true

    # Whether the NetherBrick Golem can light enemies on fire [default: true]
    B:"Allow NetherBrick Golem Fire Special"=true

    # Whether the NetherBrick Golem can melt cobblestone when in place for too long [default: true]
    B:"Allow NetherBrick Golem Lava Special"=true

    # Whether the Sponge Golem can soak up water nearby [default: true]
    B:"Allow Sponge Golem Special"=true

    # Whether the TNT Golem can explode randomly or upon death [default: true]
    B:"Allow TNT Golem Special"=true
}


spawns {
    # Whether the Bedrock Golem can be spawned in using the item. [default: true]
    B:"Allow Bedrock Golem"=true

    # Whether the Librarian Golem can be built. [default: true]
    B:"Allow Bookshelf Golem"=true

    # Whether the Clay Golem can be built. [default: true]
    B:"Allow Clay Golem"=true

    # Whether the Coal Golem can be built. [default: true]
    B:"Allow Coal Golem"=true

    # Whether the Diamond Golem can be built. [default: true]
    B:"Allow Diamond Golem"=true

    # Whether the Emerald Golem can be built. [default: true]
    B:"Allow Emerald Golem"=true

    # Whether the Endstone Golem can be built. [default: true]
    B:"Allow Endstone Golem"=true

    # Whether the Glass Golem can be built. [default: true]
    B:"Allow Glass Golem"=true

    # Whether the Glowstone Golem can be built. [default: true]
    B:"Allow Glowstone Golem"=true

    # Whether the Gold Golem can be built. [default: true]
    B:"Allow Gold Golem"=true

    # Whether the Hardended Clay Golem can be built. [default: true]
    B:"Allow Hardended Clay Golem"=true

    # Whether the Ice Golem can be built. [default: true]
    B:"Allow Ice Golem"=true

    # Whether the Lapis Lazuli Golem can be built. [default: true]
    B:"Allow Lapis Golem"=true

    # Whether the Leaf Golem can be built. [default: true]
    B:"Allow Leaf Golem"=true

    # Whether the Melon Golem can be built. [default: true]
    B:"Allow Melon Golem"=true

    # Whether the Nether Brick Golem can be built. [default: true]
    B:"Allow NetherBrick Golem"=true

    # Whether the Obsidian Golem can be built. [default: true]
    B:"Allow Obsidian Golem"=true

    # Whether the Quartz Golem can be built. [default: true]
    B:"Allow Quartz Golem"=true

    # Whether the Sandstone Golem can be built. [default: true]
    B:"Allow Sandstone Golem"=true

    # Whether the Sponge Golem can be built. [default: true]
    B:"Allow Sponge Golem"=true

    # Whether the Straw Golem can be built. [default: true]
    B:"Allow Straw Golem"=true

    # Whether the TNT Golem can be built. [default: true]
    B:"Allow TNT Golem"=true

    # Whether the Wooden Golem can be built. [default: true]
    B:"Allow Wooden Golem"=true

    # Whether the Wool Golem can be built. [default: true]
    B:"Allow Wool Golem"=true
}


