# Configuration file

chatmessages {
    S:color=RED
    B:enable=false
    B:ifNotFound=false
}


compatibility {
    B:openEyeHooks=true
}


crashreporthooks {
    B:enable=true
    B:ifNotFound=true
}


general {
    S:optionalMods <
     >
    S:originalPackMods <
        aiimprovements
        activator
        addictedtored
        dendrology
        AnimationAPI
        aobd
        aobdbb
        aquacreeper
        Aquaculture
        armorchroma
        ascribe
        AS_UpdateCheck
        atum
        autooredictconv
        AutomatedRedstone
        Avaritia
        BNBGamingLib
        bis
        backlytra
        badores
        BedCraftAndBeyond
        BetterAchievements
        betterboat
        bettermobgriefinggamerule
        betterstorage
        biomestats
        boilerplate
        bookshelf
        colormysky
        buildersguides
        ctabs
        CarpentersBlocks
        cavecontrol
        chameleoncreepers
        chisel
        chunkgen
        cslib
        CodeChickenCore
        colorblindhelper
        CompactMachines
        complexcrops
        condensedblocks
        cookiecore
        copyfolders
        cosmeticarmorreworked
        craftingtweaks
        craftingcraft
        CreativeBlocks
        creeperawareness
        cubicvillager
        CustomMainMenu
        CustomCrashReports
        D3Core
        defaultkeys
        moddisruptor
        Doors
        dd
        DynIMC
        dsurround
        excore
        ejectorrail
        endercore
        enhancedcomparator
        erebus
        etfuturum
        exastrisrebirth
        exnihilo
        ExpandedIndustry
        experienceorb
        golems
        golems_addon_waila
        ExtraTiC
        ExtrabiomesXL
        fairylights
        FFS
        FastCraft
        feedthecreepertweaks
        flowercraftmod
        FML
        FortuneOres
        ganysend
        ganysnether
        ganyssurface
        GardenContainers
        GardenCore
        GardenStuff
        GardenTrees
        gearswap
        glass_shards
        GlassWorks
        GooglyEyes
        gravestonemod
        grnscrn
        hardmodetweaks|main
        hardmodetweaks|core
        HardcoreQuesting
        HatStand
        Hats
        haynokill
        headcrumbs
        holovm
        HopperDuctMod
        hgp
        hungryZombies
        ice_shards
        IguanaTweaksTConstruct
        imc
        IGD
        InstaBoom
        InventoryCenterer
        invisizones
        IronChest
        itlt
        kleeslabs
        koresample
        llibrary
        mod_LargeSign
        lp
        Login_Shield
        LunatriusCore
        mahmeat
        Mantle
        customitems
        Metallurgy
        metallurgychisel
        metallurgycm
        MetallurgyCore
        battlegear2
        is_mtc
        MineChess
        MineTweaker3
        mcp
        Forge
        MinesweeperMod
        testdummy
        moarcarts
        MoarSigns
        modtweaker2
        ModLister
        modelcitizens
        modularsystems
        modularsystemsapi
        morechisels
        Morph
        samsmountedpearl
        mowziesmobs
        MultiPageChest
        mybukkitcommands
        NEIAddons
        NEIAddons|AppEng
        NEIAddons|Botany
        NEIAddons|CraftingTables
        NEIAddons|Developer
        NEIAddons|ExNihilo
        NEIAddons|Forestry
        neiintegration
        Natura
        netherportalfix
        nincraftlib
        NotEnoughItems
        neresources
        OpenEye
        origin
        PEmod
        PackGuard
        PassthroughSigns
        Photoreal
        PickBlockPlus
        Ping
        Pistronics2
        gunpowder
        PlaceableTools
        playerrugs
        PlayerTrophy
        Poop_Be_Gone
        PortalGun
        progressiveautomation
        projectfruit
        PushShove
        qucra
        quickhotbar
        roar
        RatMod
        RealisticTorches
        RedstonePasteMod
        ResourceLoader
        RidiculousWorld
        QVBARightClickDye
        SaintsCore
        mod_Saintspack
        SaltMod
        schematicmetablocks
        Schematica
        simplefluidtanks
        snad
        sodacantorches
        spacore
        SquidAPI
        Stackie
        StacksOnStacks
        StorageDrawers
        StorageDrawersErebus
        StorageDrawersMisc
        StorageDrawersNatura
        Streak
        Sunnarium
        supercraftingframe
        survivalTweaks
        twbbtweaks
        Tabula
        TapeMouse
        Teletubbies
        Testerino
        TextureGeneratorLib
        thebetweenlands
        thetooltooltiptool
        throwabletorchmod
        TiCTooltips
        tinker_io
        TiConAutoToolStation
        TConstruct
        tinkersdefense
        golems_addon_tconstruct
        TMechworks
        TSteelworks
        Torched
        TrailMix
        Triumph
        tumbleweed
        twitchcrumbs
        jrfmoonsensor
        jrfwalls
        UndergroundBiomes
        underphangables
        VillagerMetaFix
        voltzenginepreloader
        VoltzEngine
        Waila
        wailaevents
        WailaHarvestability
        Waypoints
        weaponcaseloot
        wawla
        CaveBiomes
        WTFCore
        WTFCrops
        WTFOres
        WTFTweaks
        woodstuff
        zzzzzcustomconfigs
        zoom
        carvablepumpkins
        farseek
        grapplemod
        iChunUtil
        minecapture
        portalblocks
        qCraft
        streams
        vending
     >
}


shutdownhooks {
    B:enable=true
    B:ifNotFound=true
}


warninggui {
    B:displayWarningOnce=true
    B:enable=true
}


